includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    parallel:
        maximumNumberOfProcesses: 1
    paths:
        - classes
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    ignoreErrors:
        -
            message: '#^Function (acf_|p2p_|get_field|update_field|acf_get_field_groups|acf_get_fields) not found\.$#'
            path: classes
